SECRET_KEY=your-secret-key-here-change-in-production
DATABASE_URL=postgres://saep:saep@localhost:5432/erp_saep
DJANGO_SETTINGS_MODULE=config.settings.dev
WEBPUSH_VAPID_PUBLIC_KEY=
WEBPUSH_VAPID_PRIVATE_KEY=
WEBPUSH_SUBJECT=mailto:saep@example.com
