Django>=6.0,<7
djangorestframework>=3.17,<4
drf-spectacular>=0.29,<1
django-filter>=25,<26
django-allauth>=65,<66
django-cors-headers>=4.9,<5
psycopg[binary]>=3.3,<4
python-dotenv>=1.2,<2

pytest>=9,<10
pytest-django>=4.12,<5
coverage>=7.13,<8
ruff>=0.15,<1
pre-commit>=4.6,<5
factory_boy>=3.3,<4
